@using foodord_web.Models;

<h2>@ViewBag.Category</h2>

@if (ViewBag.Foods.Count == 0)
{
    <p>There are no foods in this category :(</p>
}

@foreach (Food food in ViewBag.Foods)
{
    <p>
        @food.Name
    </p>
    <p>
        @food.Description
    </p>
}