@using foodord_web.Models;

<div class="row">
    <div class="col-md-6">
        <h2>Kategóriák</h2>
        <div class="list-group">
            @foreach (Category category in ViewBag.Categories)
            {
                <a href="@Url.Action("Category", new { id = category.Id })" class="list-group-item" role="button">@category.Name</a>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h2>Legtöbbet rendelt tételeink</h2>
        @foreach (Food food in ViewBag.TopFoods)
        {
            @Html.Partial("_Food", food);
        }
    </div>
</div>
