@using foodord_web.Models;

<div class="row">
    <div class="col-md-6">
        <h2>Kategóriák</h2>
        <div class="well">
            @foreach (Category category in ViewBag.Categories)
            {
                <p>
                    <a href="@Url.Action("Category", new { id = category.Id })" class="btn btn-primary btn-md active" role="button">@category.Name</a>
                </p>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h2>Legtöbbet rendelt tételeink</h2>
        <div class="well">
            @foreach (Food food in ViewBag.TopFoods)
            {
                @Html.Partial("_Food", food);
            }
        </div>
    </div>
</div>
