@model foodord_web.Models.Food
@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-xs btn-success pull-right" aria-label="Right Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <strong>@Model.Price Ft</strong>
            </button>
            <h3 class="panel-title">
                <strong>@Model.Name</strong>
                @if (Model.Vegetarian)
                {
                    <span class="label label-success"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;vegetáriánus</span>
                }
                @if (Model.Spicy)
                {
                    <span class="label label-danger"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;csípős</span>
                }
            </h3>
        </div>
        @if (null != Model.Description && Model.Description.Length > 0)
        {
            <div class="panel-body">@Model.Description</div>
        }
    </div>
}