@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Étel rendelés</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <h1>Étel rendelés</h1>
        <div>
            <h3>Kosár összegzés</h3>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
